body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-weight: bold;
    background: url(../assets/macro-paint-oil-blur-wallpaper-preview.jpg) fixed;
    background-size: cover;
}