@mixin w-h ($width, $height) {
    width: $width;
    height: $height;
}

@mixin dflex-cen-spbt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin dflex-col {
    display: flex;
    flex-direction: column;
}

@mixin dflex-cen-spar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}