body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-weight: bold;
    padding-top: 20px;
    background: url(../assets/macro-paint-oil-blur-wallpaper-preview.jpg);
}

#paletteContainer {
    width: 420px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 4px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.paletteItem {
    transition: background-color .3s;

    span {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        display: inline-block;
        min-width: 80px;
        height: 35px;
    }
}

button {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    background: #000;
}